* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightpink;
}

header {
    display: flex;
    justify-content: flex-start;
    margin: 10px;
    height: 50px;
}

#logo {
    margin-left: 15px;
    padding: 10px;
    width: 100px;
}

header h1 {
    margin-left: 20px;
    color: white;
}

nav {
    height: 40px;
    margin: 10px;
}

li {
    margin: 5px;
    display: inline-block;
    padding-left: 2em;
    padding-right: 7em;
}

li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li:hover {
    text-transform: uppercase;
    background-color: blue;
}

main {
    display: flex;
    margin: 10px;
    height: 300px;
}

article {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    padding: 10px;
    text-align: justify;
    font-size: large;
}

#principal {
    margin: 10px;
    padding: 10px;
    width: 300px;
}

aside {
    margin-top: 20px;
    margin-left: 0;
    align-content: center;
}

footer {
    margin: 10px;
    height: 80px;
    text-align: center;
}

footer a {
    text-decoration: none;
}